In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
data = pd.read_csv("vgsales.csv")
data.head(10)
data.shape
data = data.dropna()

In [4]:
data['Genre'].value_counts()

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64

In [8]:
data['Publisher'].nunique()

578

In [9]:
data.groupby("Genre").head(8)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
434,435,Club Penguin: Elite Penguin Force,DS,2008.0,Adventure,Disney Interactive Studios,1.88,0.98,0.00,0.30,3.16
447,448,Heavy Rain,PS3,2010.0,Adventure,Sony Computer Entertainment,1.29,1.27,0.06,0.50,3.12
511,512,Command & Conquer: Red Alert,PC,1996.0,Strategy,Virgin Interactive,1.37,1.34,0.00,0.14,2.85
547,548,Pokémon Stadium 2,N64,2000.0,Strategy,Nintendo,1.02,0.36,1.13,0.23,2.73
578,579,Halo Wars,X360,2009.0,Strategy,Microsoft Game Studios,1.53,0.82,0.04,0.24,2.63

In [10]:
data.shape

(16598, 11)

In [13]:
data['Publisher'].value_counts()

Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
                                ...
SCS Software                       1
Piacci                             1
Max Five                           1
Fields                             1
MediaQuest                         1
Name: Publisher, Length: 578, dtype: int64

In [14]:
data['Platform'].value_counts().head(1)

DS    2163
Name: Platform, dtype: int64

In [15]:
mg = data.Global_Sales.max()
data.query('Global_Sales==@mg')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [16]:
data.groupby(['Genre', 'Global_Sales', 'Year']).agg('Global_Sales', 'max')

AssertionError:

In [18]:
data.groupby(['Genre', 'Year']).agg({'Global_Sales':'max'})

                 Global_Sales
Genre    Year
Action   1980.0          0.34
         1981.0          2.20
         1982.0          0.66
         1983.0          0.77
         1984.0          1.85
...                       ...
Strategy 2012.0          0.72
         2013.0          1.67
         2014.0          0.37
         2015.0          0.51
         2016.0          0.20

[389 rows x 1 columns]

In [19]:
data.groupby(['Genre', 'Year']).agg({'Global_Sales':'min'})

                 Global_Sales
Genre    Year
Action   1980.0          0.34
         1981.0          0.17
         1982.0          0.14
         1983.0          0.17
         1984.0          1.85
...                       ...
Strategy 2012.0          0.01
         2013.0          0.02
         2014.0          0.03
         2015.0          0.01
         2016.0          0.01

[389 rows x 1 columns]